<ng-container *ngIf="!isLoading">
  <div class="container">
    <div class="row">
      <hero-header
        [heroes]="heroes"
        [term]="term"
        (addHeroClicked)="showAddHero()"
        (filterCleared)="clearFilter()"
      ></hero-header>

      <!-- Lista de héroes -->
      <div class="row mt-3">
        <div
          *ngFor="
            let heroe of paginatedHeroes;
            trackBy: trackByIndex;
            let i = index
          "
          class="col-lg-4 col-md-6 col-12 mb-4"
        >
          <hero-card
            [hero]="heroe"
            (viewHero)="handleViewHero($event)"
            (editHero)="handleEditHero($event)"
            (deleteHero)="handleDeleteHero($event)"
          ></hero-card>
        </div>
      </div>
    </div>

    <!-- btn volver -->
    <div class="card-footer mt-3 text-center">
      <button
        class="btn btn-outline-secondary"
        style="min-width: 100px"
        (click)="onBack()"
      >
        Back
      </button>
    </div>
  </div>
</ng-container>

<!-- Modal de confirmación -->
<ng-container *ngIf="showModal">
  <confirm-modal
    class="mt-3"
    [modalText]="modalText"
    (onConfirm)="confirmDelete()"
    (onClose)="closeDeleteModal()"
  ></confirm-modal>
</ng-container>

<!-- Paginación -->
<ng-container *ngIf="!isLoading && totalPages > 1">
  <hero-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="changePage($event)"
  >
  </hero-paginator>
</ng-container>
