<div class="container mt-3">
  <div class="col-12 text-center pt-2 pb-3">
    <!-- Agregar un heroe-->
    <button
      class="btn btn-success"
      style="margin-right: 2rem"
      (click)="showAddHero()"
    >
      Crear Héroe
    </button>
    <!-- Limpiar el filtro -->
    <button class="btn btn-success" (click)="clearFilter()">Limpiar</button>
  </div>

  <!-- Resultado filtro de busqueda  -->
  <ng-container *ngIf="term">
    <div *ngIf="heroes.length > 0; else noHeroesTemplate">
      <p class="alert alert-info">
        Se han encontrado {{ heroes.length }} héroes para el término
        <span>
          <strong>"{{ term }}''</strong></span
        >
      </p>
    </div>
    <ng-template #noHeroesTemplate>
      <div class="alert alert-warning">
        No se encontraron héroes para el término
        <span
          ><strong> "{{ term }}" </strong></span
        >
      </div>
    </ng-template>
  </ng-container>
</div>
