<div class="card">
  <div class="card-header">
    {{ info.pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>{{ info.username }}</h3>
        <p>{{ info.developWork }}</p>
      </div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/francogonzalezweb/" target="_blank"
          >Linkedin</a
        >
      </div>
      <div class="text-center">
        <a href="{{ info.github }}" target="_blank">Github</a>
      </div>
    </div>
  </div>
</div>
